.container {
  padding-top: 80px;
}

.form-control {
  max-width: 400px;
}

.form-control:disabled {
  text-decoration: line-through;
}

.form-control.form-control-lg {
  max-width: 600px;
  margin: 0 auto;
}

.shopping-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5em;
}

.item-status-checkbox {
  margin-right: 1em;
}

.btn-delete-item {
  margin-left: .5em;
  color:;
}

.justify-content {
  text-align: center;
}

.btn-delete-all-wrapper {
  margin-top: 4em;
}